on:
  issue_comment:
    types: [created]
  pull_request_target:
    branches: [ main ]

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "hi!"
          echo "${{ github.event.comment.author_associator }}"
          echo "${{ github.event.pull_request.author_association }}"
    if: startsWith(github.event.comment.body, '/rerun')