on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]
    branches: [ main ]

jobs:
  test-something:
  runs-on: ubuntu-latest
  steps:
    - run: |
        echo "$$GITHUB_REPOSITORY"
    
  convert_distros_to_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix_epel7: ${{ steps.convert_distros_to_matrix.outputs.matrix_epel7 }}
      matrix_epel8: ${{ steps.convert_distros_to_matrix.outputs.matrix_epel8 }}
    steps:
      - id: convert_distros_to_matrix
        run: |
          echo "::set-output name=matrix_epel7::[\"centos-7\", \"oraclelinux-7\"]"
          echo "::set-output name=matrix_epel8::[\"centos-8.4\", \"centos-8\", \"oraclelinux-8.4\", \"oraclelinux-8.6\"]"

  comment:
    runs-on: ubuntu-latest
    needs: [convert_distros_to_matrix]
    strategy:
      fail-fast: false
      matrix:
        epel7: ${{fromJson(needs.convert_distros_to_matrix.outputs.matrix_epel7)}}
        epel8: ${{fromJson(needs.convert_distros_to_matrix.outputs.matrix_epel8)}}
    steps:
      - run: |
          echo "${{ matrix.epel7 }}"
          echo "${{ matrix.epel8 }}"
    if: |
      github.event.pull_request 
      && (
        contains(fromJson('["OWNER", "MEMBER", "COLLABORATOR"]'), github.event.pull_request.author_association)
        || contains(github.event.pull_request.labels.*.name, 'safe-to-test')
      )
